body {
    background-image: linear-gradient(to top, #9cb7cf, #a5b3d2, #b2afd2, #c0aacd, #cea5c4);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h2 {
    color:  #5c4a58;
    font-weight: bold;
    font-size: 2rem;
}
p {
    display: inline-block;
}

#btn {
    display: inline-block;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    font-weight:bold;
    cursor: pointer;
    background: #7c8cb0;
    color: white;
}
#input {
    border: none;
    padding: 0.8rem;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}
#weather-img{
    height: 200px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 0px #cea5c4
}
/* hide */
.hide {
    display: none;
}